[submodule "submodules/DiligentCore"]
	path = submodules/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/NewtooUI"]
	path = submodules/NewtooUI
	url = https://github.com/FlightBlaze/NewtooUI
[submodule "submodules/tube"]
	path = submodules/tube
	url = https://github.com/FlightBlaze/tube
[submodule "submodules/tinyxml2"]
	path = submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/blazevg"]
	path = submodules/blazevg
	url = https://github.com/FlightBlaze/blazevg.git
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
